{%  extends 'base.html.twig' %}

{%  block body %}

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-4">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-4 mt-3 secondTitle">Se connecter</h1>
            <label class="secondTitle" for="inputEmail">Email</label>
            <input placeholder="Votre email ..." type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4 inputPlaceholderLight" autocomplete="email" required autofocus>
            <label class="secondTitle" for="inputPassword">Mot de passe</label>
            <input placeholder="Votre mot de passe ..." type="password" name="password" id="inputPassword" class="form-control inputPlaceholderLight" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button class="btn w-100 btn-primary mt-5 text-white shadow1" type="submit">
                Se connecter
            </button>
        </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}