{%  extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}

{% block body %}
    <h1 class="secondTitle text-center mt-3 mb-4"> {{ recipe.title }}</h1>
    <p class="textNoto textJustify">{{ recipe.description }}</p>
    <div>
        <h2 class="mt-5 text-decoration-underline secondTitle">Ingrédients :</h2>
        <ul class="p-0 mt-3 list-unstyled">
            {% for ingredientRecipe in recipe.ingredientRecipes %}
                <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ ingredientRecipe.quantity }} {{ ingredientRecipe.ingredient.name }}</p></li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile-infos">
        <div>
            <h2 class="mt-5 text-decoration-underline secondTitle">Allergènes :</h2>
            <ul class="p-0 mt-3 list-unstyled">
                {% for allergen in recipe.allergens %}
                    <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ allergen.name }}</p></li>
                {% endfor %}
            </ul>
        </div>
        <div class="hr-vertical"></div>
        <div>
            <h2 class="mt-5 text-decoration-underline secondTitle">Régimes :</h2>
            <ul class="p-0 mt-3 list-unstyled">
                {% for diet in recipe.diets %}
                    <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ diet.name }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2 class="mt-5 mb-4 text-decoration-underline secondTitle">Temps de préparation :</h2>
    <div class="inputStyle rounded pt-2 shadow1">

        {# TODO filter min in hour !! #}

        <p class="text-decoration-underline text-secondary text-center">Temps total : {{ recipe.preparationTime + recipe.breakTime + recipe.cookingTime }} min</p>
        <div class="d-flex justify-content-around">
            <p class="prep text-center text-secondary">Préparation : {{ recipe.preparationTime }} min</p>
            <div class="barrePrep"></div>
            <p class="repos text-center text-secondary">Repos : {{ recipe.breakTime }} min</p>
            <div class="barrePrep"></div>
            <p class="cuisson text-center text-secondary">Cuisson : {{ recipe.cookingTime }} min</p>
        </div>
    </div>
    <h2 class="secondTitle  text-decoration-underline mt-5">Etapes :</h2>
    <ul class="list-unstyled mb-5">
        {% for key, stage in recipe.stages %}
            <li class="mt-5">
                <p class="secondTitleSmall secondTitle">Etape {{ key }}</p>
                <p class="textNoto">{{ stage }}</p>
            </li>
        {% endfor %}
    </ul>

    {% if not is_granted('ROLE_ADMIN') %}
        <div id="comments"></div>
    {#<div class="inputStyle rounded shadow1">
        <p class="text-center text-secondary mb-1 pt-2">La recette est terminée.</p>
        <p class="text-center textNoto avisInterresse mb-1">Votre avis m'intérresse</p>
        <form class=" pb-2">
            <div class="star-widget mx-auto">

                <input type="radio" name="rate" id="rate-5"/>
                <label for="rate-5" class="bi bi-star-fill" ></label>

                <input type="radio" name="rate" id="rate-4"/>
                <label for="rate-4" class="bi bi-star-fill" ></label>

                <input type="radio" name="rate" id="rate-3"/>
                <label for="rate-3" class="bi bi-star-fill" ></label>

                <input type="radio" name="rate" id="rate-2"/>
                <label for="rate-2" class="bi bi-star-fill"></label>

                <input type="radio" name="rate" id="rate-1"/>
                <label for="rate-1" class="bi bi-star-fill" ></label>

            </div>
            <div class="comment mx-auto" >
                <textarea class="form-control mt-2" rows="3" placeholder="Ecrivez votre avis..." ></textarea>
                <button class="btn btn-primary text-white w-100 mt-2">Envoyer</button>
            </div>
        </form>
    </div>#}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipe') }}
{% endblock %}