{%  extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}

{% block body %}
    <h1 class="secondTitle text-center mt-3 mb-4"> {{ recipe.title }}</h1>
    <p class="textNoto textJustify">{{ recipe.description }}</p>
    <div>
        <h2 class="mt-5 text-decoration-underline secondTitle">Ingrédients :</h2>
        <ul class="p-0 mt-3 list-unstyled">
            {% for ingredientRecipe in recipe.ingredientRecipes %}
                <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ ingredientRecipe.quantity }} {{ ingredientRecipe.ingredient.name }}</p></li>
            {% endfor %}
        </ul>
    </div>
    <div class="mobile-infos">
        <div>
            <h2 class="mt-5 text-decoration-underline secondTitle">Allergènes :</h2>
            <ul class="p-0 mt-3 list-unstyled">
                {% for allergen in recipe.allergens %}
                    <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ allergen.name }}</p></li>
                {% endfor %}
            </ul>
        </div>
        <div class="hr-vertical"></div>
        <div>
            <h2 class="mt-5 text-decoration-underline secondTitle">Régimes :</h2>
            <ul class="p-0 mt-3 list-unstyled">
                {% for diet in recipe.diets %}
                    <li class="ps-4"><p class="roundedSquare pt-1 textNoto">{{ diet.name }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2 class="mt-5 mb-4 text-decoration-underline secondTitle">Temps de préparation :</h2>
    <div class="inputStyle rounded pt-2 shadow1">

        {# TODO filter min in hour !! #}

        <p class="text-decoration-underline text-secondary text-center">Temps total : {{ recipe.preparationTime + recipe.breakTime + recipe.cookingTime }} min</p>
        <div class="d-flex justify-content-around">
            <p class="prep text-center text-secondary">Préparation : {{ recipe.preparationTime }} min</p>
            <div class="barrePrep"></div>
            <p class="repos text-center text-secondary">Repos : {{ recipe.breakTime }} min</p>
            <div class="barrePrep"></div>
            <p class="cuisson text-center text-secondary">Cuisson : {{ recipe.cookingTime }} min</p>
        </div>
    </div>
    <h2 class="secondTitle  text-decoration-underline mt-5">Etapes :</h2>
    <ul class="list-unstyled mb-5">
        {% for key, stage in recipe.stages %}
            <li class="mt-5">
                <p class="secondTitleSmall secondTitle">Etape {{ key + 1 }}</p>
                <p class="textNoto">{{ stage }}</p>
            </li>
        {% endfor %}
    </ul>

    <div id="comments" data-recipeid="{{ recipe.id }}" data-a="{% if app.user and is_granted('ROLE_ADMIN') %}1{% else %}0{% endif %}" data-connected="{% if app.user %}1{% else %}0{% endif %}"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipe') }}
{% endblock %}