{% extends '/recipes/index.html.twig' %}

{% block body %}
    <h2 class="secondTitle text-secondary mb-4">Gérer les recettes</h2>
    <a href="{{ path('admin_createRecipe_index') }}" class="btn btn-primary text-white w-100 text-decoration-none shadow1 mb-4">Créer une recette</a>
    <ul class="p-0 list-unstyled">
        {% for recipe in items %}
            <li class="lastBorder border-top border-primary ps-1">
                <div class="d-flex align-items-center">

                    <p class="roundedSquare pt-3">
                        <a class=" text-decoration-none textNoto text-black" href="{{ path('recipe_index', {'id': recipe.id}) }}">
                            {{ recipe.title }}
                        </a>
                    </p>
                    <a href="{{ path('admin_modifyRecipe_index', {'id': recipe.id}) }}" class="ms-auto btn btn-primary text-white">Modifier</a>
                    <a class="ms-2 btn btn-secondary text-white">Supprimer</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include '_pagination.html.twig' with {currentPage, pageNumber, paginationPath} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('recipes') }}
{% endblock %}